dt.contenttype-genweb-rectorat-organgovern:before, 
i.icon-genweb-rectorat-organgovern,
#listing-table a.contenttype-genweb-rectorat-organgovern:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-organgovern:before
{
	background-position: -48px -48px !important;
}

dt.contenttype-genweb-rectorat-sessio:before, 
i.icon-genweb-rectorat-sessio,
#listing-table a.contenttype-genweb-rectorat-sessio:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-sessio:before
{
	background-position: -312px -168px !important;
}

dt.contenttype-genweb-rectorat-document:before, 
i.icon-genweb-rectorat-document,
#listing-table a.contenttype-genweb-rectorat-document:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-document:before
{
	background-position: -24px -24px !important;
}

