dt.contenttype-genweb-rectorat-organgovern:before, 
i.icon-genweb-rectorat-organgovern,
#listing-table a.contenttype-genweb-rectorat-organgovern:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-organgovern:before
{
	background-position: -48px -48px !important;
}

dt.contenttype-genweb-rectorat-sessio:before, 
i.icon-genweb-rectorat-sessio,
#listing-table a.contenttype-genweb-rectorat-sessio:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-sessio:before
{
	background-position: -312px -168px !important;
}

dt.contenttype-genweb-rectorat-document:before, 
i.icon-genweb-rectorat-document,
#listing-table a.contenttype-genweb-rectorat-document:before, 
.template-folder_tabular_view .listing a.contenttype-genweb-rectorat-document:before
{
	background-position: -24px -24px !important;
}

.elaboració, .desarrollo {
	background-color: #456211;
	padding: 1px 4px 2px;
	border-radius: 3px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}

.Pending {
	background-color: #f0a436;
	padding: 1px 4px 2px;
	border-radius: 3px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}

.Approved {
	background-color: #007bc0;
	padding: 1px 4px 2px;
	border-radius: 3px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}

.Rejected {
	background-color: #a62e1f;
	padding: 1px 4px 2px;
	border-radius: 3px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}

.resultsBox { 
   background-color: #eeeeee;
    clear: both;
    float: right;
    padding: 15px 15px 0;
    text-shadow: 1px 1px 0 white;
    width: 18%;
    margin-top: 25px;
}
.resultsBox ul {
    margin: 10px 0 30px 5px;
}
.resultsBox li {
    border-bottom: 1px solid white;
    list-style: outside none none;
    margin-left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.resultsBox > h3 {
    border-bottom: 1px solid;
    margin-top: 0;
    padding-bottom: 8px;
    text-align: left !important;
}

#formfield-form-widgets-comentariEstatAprovacio {}

#form-widgets-title {min-width: 450px;}



.portaltype-genweb-rectorat-sessio a#plone-contentmenu-workflow.dropdown-toggle 
{}

a#plone-contentmenu-workflow.dropdown-toggle:hover {
	text-decoration: none;
 	background-color: #f2f2f2; 
 };

 #plone-contentmenu-workflow {display:none;}

input.standalone.loginbutton {display:none;}

